img {
  width: 100%;
}
body {
  background-color: #f1f1f1;
  padding-bottom: 100px;
}
.pay:hover {
  background-color: white;
  cursor: pointer;
}
/* .premiere:hover {
  background-color: #ffd31d;
  cursor: pointer;
} */
.page-active {
  background-color: black;
}
.pageColor {
  background-color: black !important;
  color: yellow;
}
.SignU {
  background-color: orange;
}

.page-Link {
  background-color: blueviolet !important;
}
.myPager {
  text-align: right;
}

.bannerLink {
  background-color: #fbedc3;
}
/* a.bannerLink:hover,
a.bannerLink:active {
  background-color: #926b00 !important;
  color: white;
}*/
.bannerLink:hover {
  background-color: #926b00 !important;
  color: white;
}
.pagination > .active > a {
  color: black;
  background-color: #8f8f8f !Important;
  border: solid 1px #8f8f8f !Important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}
.list-group-item.active {
  background-color: #926b00 !important;
  border-color: lightgray !important;
}
.pagination > li > a {
  background-color: white;
  color: #8f8f8f;
}

.bannerLink:active {
  background-color: #926b00 !important;
}

.add-address {
  padding-bottom: 50px;
}
.card-form {
  opacity: 0.9;
}
.loginBG {
  background-color: #fbedc3;
}
.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
