img {
  width: 100%;
}
body {
  background-color: #f1f1f1;
  padding-bottom: 100px;
}

.SignU {
  background-color: orange;
}

.bannerLink {
  background-color: #fbedc3;
}
a.bannerLink:hover,
a.bannerLink:active {
  background-color: #926b00 !important;
  color: white;
}
.bannerLink:focus {
  background-color: #926b00 !important;
  color: white;
}

.bannerLink--active {
  background-color: black !important;
}

.add-address {
  padding-bottom: 50px;
}
.card-form {
  opacity: 0.9;
}
.loginBG {
  background-color: #fbedc3;
}
.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
